/* MODULE-CONNEXION.CSS */
body{
  margin: 0%;
  padding: 0%;
  background-color: #2F3035 ;
  font-family: "Lato";
}
/* BANK OF FLEX */
.flex{
  display: flex;
}
/* HEADER */
.headsize{
  width: 100%;
}
/* Menu */
.menuflex{
  display: flex;
  justify-content: space-evenly;
  color: whitesmoke;
}
.menucard{
  background-color: #2F3035;
  width: 25%;
  text-align: center;
  color:whitesmoke;
  font-weight: bold;

}

.menucard a{
  text-decoration: none;
  text-decoration-color: none;
  color: whitesmoke;
}
.menucard:hover a{
  color: #2F3035;
}
.menucard:hover{
  background-color: whitesmoke;
 
}
.menucard input[type=submit]{
  background-color: #2F3035;
  border: none;
  color: white;
  font-family: "Lato";
  font-weight: bold;
  font-size: medium;
}
.menucard:hover input[type=submit]{
  color: #2F3035;
  background-color:whitesmoke ;
}
input{
cursor: pointer;
}

/* MAIN */
main{
  background-color: #F7F7F7;
}
.container{
  display: flex;
  background-color: #F7F7F7;
}
.card1{
  width: 70%;
 text-align: center;
}
.card2{
  width: 30%;
  text-align: center;
}
.articlecard1{
  width: 30%;
  margin: 1%;
  display: flex;
  align-items: center;
}
.articlecard2{
  width: 70%;
 
  margin: 1%;
}
.artimg{
  width: 100%;
  border-radius:3%;}

.testcard{
  margin: 2%;
}

/* FOOTER */

footer{
  display: flex;
  justify-content: space-evenly;
  background-color: #222126;
  height:300px;
}
.footcard{
  width: 33%;
text-align: center;
  height: 300px;
  color: whitesmoke;
}
/* FORMULAIRE */

.containconnect{
  background-color:#F7F7F7;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardconnect{
background-color:rgb(151, 135, 135);
width: 30%;
height: 250px;
display: flex;
text-align: center;
justify-content: center;
flex-wrap: wrap;
border-radius: 3%;
box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
border: gray solid 1px;
}
.padding{
  padding: 3%;
}
.cardconnect2{
  background-color:rgb(151, 135, 135);
  width: 30%;
  height: 450px;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 3%;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
  border: gray solid 1px;
  }

  /* ADMIN */
  
  .containtable{
    background-color:#F7F7F7;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;

  }
  table{
    border-collapse: collapse;
    width: 90%;
    text-align: center;
  }
  th{
    background-color: #2F3035;
    color: whitesmoke;
    border: 1px solid black;

  }
  td{
    border: 1px solid black;
  }
.textcust{
  text-align: center;
  margin: 10%;
}